// Header Search Module
.search-wrp{
    display: inline-block;
    vertical-align: top;
}
.kutuArama{
        .kutuHeaderArama{
            .btn.btn-search{
                padding: 0;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                font-size: 20px;
            }
        }
        .kutuBodyArama{
            position: absolute;
            right: 0;
            width: 100%;
            max-width: 50px;
            top: 30px;
            background: #000;
            border-radius: 25px;
            height: 50px;
            padding: 0 0;
            z-index: -1;
            @include transition(all 0.3s ease-in-out);
            backface-visibility: hidden;
            .kutuArama_lnkHizliUrun,
            .kutuArama_kategoriSecim{
                display: none;
            }
            .kutuArama_lbfkutuArama1{
                display: block !important;
            }
            .btn.btn-search-text-remove{
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                padding: 0;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                font-size: 14px;
                @include transition(all 0.2s ease-in-out);
                @include setTransform(translateX(100%));
                .search-keyup &{
                    @include setTransform(translateX(0));
                    display: block;
                }
            }
            .btnArama{
                @extend .btn-black;
                @extend .btn-radius-full;
                position: absolute;
                left: 0;
                top: 0;
                padding: 0;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                font-size: 20px;
                &:hover{
                    background: none;
                    color: $grey;
                }
            }
            .kutuArama_aramaText{
                width: 100%;
                input{
                    display: block;
                    width: 100%;
                    height: 50px;
                    line-height: 50px;
                    background: none;
                    border: none;
                    color: $colorWhite;
                    font-family: $fontSiteBold;
                    font-size: 16px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }
            }
            .search-ready &{
                backface-visibility: hidden;
                z-index: 1;
            }
            .search-animate &{
                padding: 0 50px;
                width: 417px;
                max-width: 75%;
            }
            
        }
        .kutuFooterArama{
            display: none;
        }
    }
#search_suggest{
    position: absolute;
    width: 100%;
    height: auto;
    top: 50px;
    left: 0;
    padding: 30px;
    right: 0;
    background: #eeeeee !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    @extend .fadeIn;
    z-index: -1 !important;
    &:before {
        content: '';
        display: block;
        background: #eee;
        width: 100%;
        height: 25px;
        position: absolute;
        top: -25px;
        left: 0;
        z-index: -1;
    }
    &:after {
        content: '';
        display: block;
        background: #000;
        width: 100%;
        height: 25px;
        position: absolute;
        top: -25px;
        left: 0;
        z-index: -1;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    .searchSuggestDivHolder{
        & > div{
            text-align: left;
            h3{
                display: none;
            }
            .sHolder{
                position: relative;
            }
            &.prd{
                .sHolder{
                    overflow: hidden;
                    max-height: 360px;
                    > div{
                        > table{
                            width: 100%;
                            > tbody{
                                > tr{
                                    margin-bottom: 20px;
                                    display: inline-block;
                                    vertical-align: middle;
                                    > th{
                                        position: relative;
                                        width: 70px;
                                        height: 70px;
                                        background: $colorWhite;
                                        text-align: center;
                                        img{
                                            width: auto;
                                            height: 100%;
                                        }
                                    }
                                    > td{
                                        padding-left: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.cat{
                margin-top: 50px;
                .sHolder{
                    > div{
                        > a{
                            font-family: $fontDefaultBold;
                            font-size: 18px;
                            letter-spacing: 2px;
                            line-height: 35px;
                            color: $colorDefault;
                            display: inline-block;
                            &:before{
                                content:$icon-arrow-caret-right;
                                @extend .icon;
                                margin-right: 10px;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:$deviceMobile){
    .search-wrp{
        .kutuArama{
            .kutuHeaderArama{
                .btn.btn-search-back{
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    font-size: 15px;
                    padding: 0;
                    margin-right: 20px;
                    margin-left: -60px;
                    @include transition(all 0.2s ease-in-out);
                    .search-ready &{
                        margin-left: 0;
                        margin-right: 10px;
                    }
                }
                .btn.btn-search{
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    font-size: 15px;
                }
            }
            .kutuBodyArama {
                left: 20px;
                top: 20px;
                right: 20px;
                height: 40px;
                opacity: 0;
                .btnArama {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    font-size: 15px;
                    
                }
                .kutuArama_aramaText{
                    input {
                        height: 40px;
                        line-height: 40px;
                    }
                }
                .kutuArama_lbfkutuArama2{
                    vertical-align: top;
                    @at-root .search-ready{
                        .kutuArama_lbfkutuArama2{
                            display: inline-block !important;
                        }
                    }
                    .search-result-box{
                        display: inline-block;
                        vertical-align: top;
                        width: 200px;
                        height: auto;
                        margin-bottom: 30px;
                        position: fixed;
                        z-index: 999;
                        text-align: center;
                        left: 50%;
                        top: 20%;
                        @include setTransform(translateX(-50%));
                        i{
                            display:inline-block;
                            vertical-align: top;
                            width: 77px;
                            height: 77px;
                            background: url(#{$baseHref + "/images/frontend/search-colors.svg"}) no-repeat center center;
                        }
                        span{
                            font-family: $fontSite;
                            font-size: 18px;
                            color: #848484;
                            display: block;
                            margin-top: 30px;
                        }
                    }
                }
                .btn.btn-search-text-remove {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    font-size: 10px;
                }
                .search-ready &{
                    left: 70px;
                    backface-visibility: hidden;
                    z-index: 1;
                }
                .search-animate &{
                    opacity: 1;
                    padding: 0 50px;
                    width: initial;
                    max-width: 100%;
                }
            }
        }
    }
    #search_suggest{
        position: fixed !important;
        top: 80px;
        left: 0;
        right: 0;
        background: #eeeeee !important;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        z-index: 19901 !important;
        &:before,
        &:after {
            display: none;
        }
       
    }
    .search-ready{
        overflow: hidden;
        .search-wrp .kutuArama .kutuBodyArama .kutuArama_aramaText{
            &:after{
                content:'';
                background: #eeeeee;
                position: fixed;
                top: 80px;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                display: block;
            }
        }
    }
}

/*
 * page-search
 */

.pageArama {}

div[id$='urun_validatingForm'] {
    display: none;
    table {
        width: 100%;
        text-align: left;
        table-layout: fixed;
        td { padding: 10px 0px; }
    }
    select,
    input[type='text']{
        width: 100% !important;
        height: 40px;
        padding: 0px 10px;
        border: 1px solid $grey;
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &::-ms-expand { display: none; }
    }
    .tableArama_tddrpMRK_AD {
        position: relative;
        &::after {
            content: $icon-arrow-caret-down;
            font-family: 'icomoon' !important;
            position: absolute;
            right: 15px;
            top: calc(50% - 7px);
            color: $grey;
        }
    }
    input[type='checkbox']{
        opacity: 0;
        width: 15px;
        height: 15px;
        + span {
            position: relative;
            padding-left: 12px;
            &::before {
                content: '';
                background-color: $grey;
                width: 15px;
                height: 15px;
                display: inline-block;
                position: absolute;
                left: -12px;
                top: 3px;
                z-index: -1;
            }
        }
        &:checked + span::before { background-color: $colorPink; }
    }
    .btnAra,
    .btnTemizle{
        background-color: $grey;
        &:hover { background-color: $colorPink; }
    }
}