.page-corporate{
    .full-bar{
        margin-top: 20px;
        @media screen and (max-width: $deviceMobile){
            margin: 0;
        }
    }
    .left-bar{
        padding-top: 20px;
        .kutuSolMenuTree{
            > .kutuHeaderSolMenuTree{
                display: none;
                &:after{
                    content:$icon-arrow-caret-down;
                    @extend .icon;
                }
            }
            .kutuBodySolMenuTree{
                > ul{
                    > li{
                        > a{
                            display: block;
                            background: #eeeeee;
                            padding: 14px 15px;
                            color: #aa6a7d;
                            font-size: 18px;
                            font-family: $fontSite;
                            letter-spacing: 2px;
                        }
                        ul{
                            li{
                                a{
                                    font-family: $fontSite;
                                    font-size: 14px;
                                    letter-spacing: 2px;
                                    color: $colorDefault;
                                    padding: 10px;
                                    margin: 15px 0 0px 10px;
                                    display: inline-block;
                                    vertical-align: top;
                                }
                                &.act{
                                    a{
                                        position: relative;
                                        color: $colorPink;
                                        &:before{
                                            content:'';
                                            display: block;
                                            width: 6px;
                                            height: 6px;
                                            background: $colorPink;
                                            border-radius: 50%;
                                            position: absolute;
                                            left: -8px;
                                            top: 50%;
                                            @include setTransform(translateY(-50%));
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @media screen and (max-width: $deviceMobile){
            padding-top: 0;
            max-width: none;
            margin-top: 0 !important;
            .kutuSolMenuTree{
                > .kutuHeaderSolMenuTree{
                    display: block;
                    height: 70px;
                    color: #aa6a7d;
                    font-size: 18px;
                    letter-spacing: 2px;
                    padding: 23px 30px;
                    font-family: $fontSite;
                    border-bottom: 3px solid $darkGrey;
                    &:after{
                        color: #4a4a4a;
                        font-size: 12px;
                        float: right;
                        line-height: 22px;
                    }
                }
                .kutuBodySolMenuTree{
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 99;
                    background: $colorWhite;
                    @include transition(transform 0.5s ease-in-out);
                    @include setTransform(translateX(-100%));
                    > ul{
                        > li{
                            > a{
                                height: 140px;
                                padding-top: 32px;
                                text-align: center;
                                display: block;
                                background: none;
                                position: relative;
                                color: $colorDefault;
                                font-size: 18px;
                                letter-spacing: 2px;
                                &:after{
                                    content:$icon-close;
                                    font-family: 'icomoon' !important;
                                    speak: none;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-variant: normal;
                                    text-transform: none;
                                    line-height: 1;
                                    -webkit-font-smoothing: antialiased;
                                    -moz-osx-font-smoothing: grayscale;
                                    float: right;
                                    margin-right: 10px;
                                }   
                            }
                            > ul{
                                border-bottom: 1px solid #eeeeee;
                                li{
                                    border-bottom: 1px solid #eeeeee;
                                    a{
                                        margin: 0;
                                        font-family: $fontDefaultBold;
                                        padding: 21px 45px;
                                        font-size: 18px;
                                        display: block;
                                        &:before{
                                            width: 13px !important;
                                            height: 13px !important;
                                            left: 16px !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.opened{
                    .kutuBodySolMenuTree{
                        @include setTransform(translateX(0));
                    }
                }
            }
        }
    }
    .content-bar{
        padding-top: 20px;
    }
    
}
.page-corporate-header{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    .page-cover{
        position: relative;
        width: 100%;
        overflow: hidden;
        h1{
            position: absolute;
            left: 0;
            bottom: 0;
            min-height: 50%;
            padding: 20px 50px;
            width: 100%;
            max-width: 500px;
            font-family: $fontDefault;
            font-size: 60px;
            line-height: 60px;
            letter-spacing: 3px;
            color: $colorDefault;
        }
        @media screen and (max-width:$deviceMobile){
            h1{
                font-size: 40px;
                line-height: 40px;
                min-height: 0;
                padding: 30px;
                margin: 0 !important;
                max-width: none;
            }
        }
    }
}
.page-corporate-body{
    display: inline-block;
    vertical-align: top;
    width:100%;
    margin-bottom: 140px;
    ul.page-coporate-list{
        li.item{
            .text-wrap{
                &-inner{
                    position: relative;
                }
                .title{
                    font-family: $fontDefaultBold;
                    font-size: 50px;
                    line-height: 60px;
                    letter-spacing: 2.5px;
                    color: $colorDefault;
                    position: absolute;
                    top: -80px;
                    left: 0;
                }
                .text {
                    font-size: 18px;
                    font-family: 'karlaRegular';
                    line-height: 26px;
                    color: #000;
                    ul{
                        li{
                            padding-left: 20px;
                            color: $colorPink;
                            position: relative;
                            color: #000;
                            &:before{
                                content: "• ";
                                color: $colorPink;
                                position: absolute;
                                left: 0;
                            }
                        }
                    }
                }
            }
            .img-wrap{
                width: 100%;
                height: auto;
                text-align: center; 
            }
            &.typeText{
                margin-top: 50px;
                margin-bottom: 10px;
                .text-wrap{
                    padding: 50px;
                    &-inner{
                        max-width: 590px;
                    }
                    @media screen and (max-width: $deviceMobile){
                        padding: 60px 50px;
                        .title{
                            width: 100%;
                            text-align: center;
                        }
                    }
                }
                &:nth-of-type(even){
                    background-color: #fff9f5;
                }
            }
            &.typeImgText{
                position: relative;
                .img-wrap{
                    width: 50%;
                    position: relative;
                    z-index: 2;
                    @media screen and (max-width: $deviceMobile){
                        width: 100%;
                        padding: 0 30px;
                    }
                }
                .text-wrap{
                    width: 80%;
                    position: absolute;
                    background: #fff9f5;
                    top: 50%;
                    right: 0;
                    padding: 60px 40px 30px 34%;
                    @include setTransform(translateY(-50%));
                    &-inner{
                        display: inline-block;
                        vertical-align: top;
                        width: 100%;
                    }
                    @media screen and (max-width: $deviceMobile){
                        width: 100%;
                        position: static;
                        right: initial;
                        top: initial;
                        @include setTransform(none);
                        padding: 20px 50px;
                        background: none;
                    }
                }
                &:nth-of-type(odd){
                    direction: rtl;
                    .text-wrap{
                        left: 0;
                        right: initial;
                        padding: 60px 34% 30px 40px;
                        @media screen and (max-width: $deviceMobile){
                            top: initial;
                            left: initial;
                            padding: 20px 50px;
                            background: none;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: $deviceMobile){
        margin-bottom: 70px;
    }
}