.page-corporate{
    .full-bar{
        margin-top: 20px;
    }
    .left-bar{
        padding-top: 20px;
        .kutuSolMenuTree{
            > .kutuHeaderSolMenuTree{
                display: none;
            }
            .kutuBodySolMenuTree{
                > ul{
                    > li{
                        > a{
                            display: block;
                            background: #eeeeee;
                            padding: 14px 15px;
                            color: #aa6a7d;
                            font-size: 18px;
                            font-family: $fontSite;
                            letter-spacing: 2px;
                        }
                        ul{
                            li{
                                a{
                                    font-family: $fontSite;
                                    font-size: 14px;
                                    letter-spacing: 2px;
                                    color: $colorDefault;
                                    padding: 10px;
                                    margin: 15px 0 0px 10px;
                                    display: inline-block;
                                    vertical-align: top;
                                }
                                &.act{
                                    a{
                                        position: relative;
                                        color: $colorPink;
                                        &:before{
                                            content:'';
                                            display: block;
                                            width: 6px;
                                            height: 6px;
                                            background: $colorPink;
                                            border-radius: 50%;
                                            position: absolute;
                                            left: -8px;
                                            top: 50%;
                                            @include setTransform(translateY(-50%));
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .content-bar{
        padding-top: 20px;
    }
    
}
.page-corporate-header{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    .page-cover{
        position: relative;
        width: 100%;
        overflow: hidden;
        h1{
            position: absolute;
            left: 0;
            bottom: 0;
            min-height: 50%;
            padding: 20px 50px;
            width: 100%;
            max-width: 500px;
            font-family: $fontDefault;
            font-size: 60px;
            line-height: 60px;
            letter-spacing: 3px;
            color: $colorDefault;
        }
    }
}
.page-corporate-body{
    display: inline-block;
    vertical-align: top;
    width:100%;
    margin-bottom: 140px;
    ul.page-coporate-list{
        li.item{
            .text-wrap{
                &-inner{
                    position: relative;
                }
                .title{
                    font-family: $fontDefaultBold;
                    font-size: 50px;
                    line-height: 60px;
                    letter-spacing: 2.5px;
                    color: $colorDefault;
                    position: absolute;
                    top: -80px;
                    left: 0;
                }
                .text {
                    font-size: 18px;
                    font-family: 'karlaRegular';
                    line-height: 26px;
                    color: #000;
                }
            }
            .img-wrap{
                width: 100%;
                height: auto;
            }
            &.typeText{
                margin-top: 50px;
                margin-bottom: 10px;
                .text-wrap{
                    padding: 50px;
                    &-inner{
                        max-width: 590px;
                    }
                }
                &:nth-of-type(even){
                    background-color: #fff9f5;
                }
            }
            &.typeImgText{
                position: relative;
                .img-wrap{
                    width: 60%;
                    position: relative;
                    z-index: 2;
                }
                .text-wrap{
                    width: 80%;
                    position: absolute;
                    background: #fff9f5;
                    top: 50%;
                    right: 0;
                    padding: 60px 40px 30px 44%;
                    @include setTransform(translateY(-50%));
                    &-inner{
                        display: inline-block;
                        vertical-align: top;
                        width: 100%;
                    }
                }
                &:nth-of-type(odd){
                    direction: rtl;
                    .text-wrap{
                        left: 0;
                        right: initial;
                        padding: 60px 44% 30px 40px;
                    }
                }
            }
        }
    }
}